# Node modules
node_modules/

# Environment files
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specific
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# -------------------
# Neovim
# -------------------
# Swap files
*.swp
*.swo

# Undo/backup directories
*.un~
*.bak
*.tmp
